@using almondCove.Controllers;
@using almondCove.Models.Props;

@{
    HTMLProps props = new()
            {
                DataBsTheme = "",
                IsLoaderActive = "",
                BodyClass="bg-secondary"
            };

    MetaProps meta = new()
            {
                Title = "Home",
            };


    ViewData["HtmlProps"] = props;
    ViewData["MetaProps"] = meta;

    var htmlContent = ViewData["HtmlContent"] as string;
    var blogDeet = ViewData["blogdeet"] as BlogLoad;

    if (Context.Session.GetString("role") != null && Context.Session.GetString("role").Trim() != "" && Context.Session.GetString("role") != "guest")
    {
        ViewData["BlogRole"] = Context.Session.GetString("role").ToString();
    }
    else
    {
        ViewData["BlogRole"] = "guest";
    }
}

@section Styles{
<style>
    .hidden
    {
        display:none;
    }
</style>


}

    @Html.AntiForgeryToken()
    <input id="ip_slug" value="@blogDeet.Slug" class="hidden"/>
    <input id="ip_tags" value="@blogDeet.Tags" class="hidden"/>
    <div id="blogview">
        <section class="container blog-section py-5 mb-lg-4 px-2 mt-1" id="blog_intro">
            <nav aria-label="breadcrumb" class="pt-4">
                <ol class=" pb-lg-4 pb-2 pt-4 breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/blogs">Blogs</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@blogDeet.Slug</li>
                </ol>
            </nav>
            <div class="row">
              <div class="col-lg-12 pb-2 pb-lg-0 mb-4 mb-lg-0">
                <h1 class="display-4 pb-2 pb-lg-3">@blogDeet.Title</h1>
                <div class="d-flex flex-wrap align-items-center ml-2 mt-n2">
                  <span class="text-body-secondary fs-sm fw-normal p-0 mt-2 me-3">
                    <span id="likes"></span>
                    <i class="ai-heart fs-lg ms-1"></i>
                  </span>
                  <a class="nav-link position-relative text-body-secondary fs-sm fw-normal d-flex align-items-end p-0 mt-2" href="#comments" data-scroll data-scroll-offset="60">
                    <span class="position-absolute w-100 h-100 top-0 start-0" data-bs-toggle="collapse" data-bs-target="#commentsCollapse"></span>
                    12
                    <i class="ai-message fs-lg ms-1"></i>
                  </a>
                  <span class="fs-xs opacity-20 mt-2 mx-3">|</span>
                  <span 
                      class="fs-sm text-body-secondary mt-2" 
                      style="text-decoration:none" 
                      id="authorsPlaceholder"
                  ></span>
                  <span class="fs-xs opacity-20 mt-2 mx-3">
                      |
                  </span>
                  <a class="badge text-nav fs-xs border mt-2" id="categoryPlaceholder" href="">asa</a>
                </div>
              </div>
            </div>
        
         <section class="container ">
            <div class="row pt-xxl-2">
              <div class="col-lg-8 col-xl-8 pe-lg-4 pe-xl-0 pt-5 pb-5">
                    @Html.Raw(htmlContent)
              </div>
              <!-- Sidebar -->
              <aside class="col-lg-3 offset-lg-1 pt-4 pt-lg-4 pb-5" style="margin-top: -7rem;">
                <div class="position-sticky top-0 mt-2 mt-md-3 mt-lg-0" style="padding-top: 7rem;">

                  <!-- Sharing -->
                  <h4 class="mb-4">Share this post:</h4>
                  <div class="d-flex mt-n3 ms-n3 mb-lg-5 mb-4 pb-3 pb-lg-0">
                    <a class="btn btn-outline-secondary btn-icon btn-sm btn-instagram rounded-circle mt-3 ms-3" href="#" aria-label="Instagram">
                      <i class="ai-instagram"></i>
                    </a>
                    <a class="btn btn-outline-secondary btn-icon btn-sm btn-facebook rounded-circle mt-3 ms-3" href="#" aria-label="Facebook">
                      <i class="ai-facebook"></i>
                    </a>
                    <a class="btn btn-outline-secondary btn-icon btn-sm btn-telegram rounded-circle mt-3 ms-3" href="#" aria-label="Telegram">
                      <i class="ai-telegram"></i>
                    </a>
                    <a class="btn btn-outline-secondary btn-icon btn-sm btn-x rounded-circle mt-3 ms-3" href="#" aria-label="X">
                      <i class="ai-x"></i>
                    </a>
                  </div>

                  <!-- Relevant topics -->
                  <h4 class="pt-xl-1 mb-4">Tags:</h4>
                  <div class="d-flex flex-wrap mt-n3 ms-n3 mb-lg-5 mb-4 pb-3 pb-lg-0">
                      <span id="tagsPlaceholder"></span>
                  </div>
                </div>
              </aside>
            </div>
         </section>

        <div class="pt-4 pt-xl-5 mt-4">
            <div class="border-top border-bottom">
                <!-- Comments collapse-->
                <hr />
                <div class="collapse" id="commentsCollapse">
                    <div id="comments"></div>
                </div>
                <div class="nav">
                    <button class="btn-more nav-link collapsed w-100 justify-content-center p-3" type="button"
                            data-bs-toggle="collapse" data-bs-target="#commentsCollapse" aria-expanded="false"
                            aria-controls="commentsCollapse" data-show-label="Show all comments"
                            data-hide-label="Hide all comments">
                        <span class="fw-normal opacity-70 ms-1">
                            (<span id="blogcount"></span>)
                        </span>
                    </button>
                </div>
                <!-- Comment form-->
            </div>
        </div>

    </section>

    <section class="container pt-5 mt-5">
        <div class="card border-0 bg-secondary pt-2 pb-2 mt-2 p-md-2 p-xl-3 p-xxl-4 mt-n3 mt-md-0">
            <div class="card-body">
                @{
                    string role;
                    try
                    {
                        role = Context.Session.GetString("role");
                    }
                    catch
                    {
                        role = "guest";
                    }
                }
                @if (role != null)
                {
                    if (role != null && (role == "user" || role == "admin"))
                    {
                        <h2 class="pb-2 pb-lg-3 pb-xl-4">Leave a comment</h2>
                        <form id="comment-form"  class="comment-form row needs-validation g-4" novalidate>
                            <div class="col-12">
                                <label class="form-label" for="c-comment">Comment</label>
                                <textarea class="form-control" rows="4" id="blog_comment" placeholder="Type your comment here..."
                                          required></textarea>
                                <div class="invalid-feedback">Please enter a comment message!</div>
                            </div>
                            <div class="col-12">
                                <button 
                                    class="btn btn-primary ripple" 
                                    id="commentbutton" 
                                    type="submit" 
                                >
                                    Post Comment
                                </button>
                            </div>
                        </form>
                        <span id="commentstat" hidden></span>
                    }
                    else
                    {
                        <span><a style="text-decoration:none" href="/account/login">login</a> to comment</span>
                    }
                }
                else
                {
                    <span><a style="text-decoration:none" href="/account/login">login</a> to comment</span>
                }
            </div>
        </div>
    </section>
</div>
<script type="module" src="~/assets/js/dedicated/blogs/blog-viewer.js" asp-append-version="true"></script>



