@using almondcove.Models.Props;
@{
var htmlProps = ViewData["HtmlProps"] as HTMLProps;
var metaProps = ViewData["MetaProps"] as MetaProps;
//set session data to ViewData
var mySessionVariable = Context.Session.GetString("username");
if (mySessionVariable != null)
{
	ViewData["user_name"] = Context.Session.GetString("username").ToString();
	ViewData["first_name"] = Context.Session.GetString("first_name").ToString();
	ViewData["role"] = Context.Session.GetString("role").ToString();
	ViewData["avatar"] = Context.Session.GetString("avatar").ToString();
	ViewData["user_id"] = Context.Session.GetString("user_id").ToString();
	ViewData["fullname"] = Context.Session.GetString("fullname").ToString();
}
else
{
	ViewData["first_name"] = "guest";
	ViewData["role"] = "guest";
	ViewData["avatar"] = "default";
	ViewData["user_id"] = "0";
}
}
<!--wmm:ignore-->
<!--

	   .__                             .___                            .__
_____  |  |   _____   ____   ____    __| _/____  _______  __ ____      |__| ____
\__  \ |  |  /     \ /  _ \ /    \  / __ |/ ___\/  _ \  \/ // __ \     |  |/    \
 / __ \|  |_|  Y Y  (  <_> )   |  \/ /_/ \  \__(  <_> )   /\  ___/     |  |   |  \
(____  /____/__|_|  /\____/|___|  /\____ |\___  >____/ \_/  \___  > /\ |__|___|  /
	 \/           \/            \/      \/    \/                \/  \/         \/

 v.2.0.0


-->
<!--/wmm:ignore-->
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
   <head>
	   <meta charset="utf-8">
		  <!-- Viewport -->
	   <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
		  <!-- SEO meta tags -->
	   <title>@metaProps.Title </title>
	   <meta name="description" content="@metaProps.Description" />
	   <meta name="keywords" content="@metaProps.Tags">
	   <meta name="author" content="@metaProps.Author">
	   <link rel="canonical" href="https://almondcove.in" />
	   <meta property="og:title" content="@metaProps.Title" />
	   <meta property="og:description" content="@metaProps.Description" />
	   <meta property="og:url" content="https://almondcove.in" />
	   <meta property="og:image" content="https://www.almondcove.in/assets/images/meta/ac_landscape.jpg" />
	   <meta property="og:image:alt" content="Almondcove Banner" />
	   <meta property="og:image:type" content="image/jpeg" />
	   <meta property="og:image:width" content="1200" />
	   <meta property="og:image:height" content="630" />
	   <meta property="og:image" content="https://www.almondcove.in/assets/images/meta/ac_landscape.jpg" />
	   <meta property="og:image:alt" content="Almondcove banner" />
	   <meta property="og:image:type" content="image/jpeg" />
	   <meta property="og:image:width" content="4096" />
	   <meta property="og:image:height" content="4096" />
	   <meta property="og:image" content="https://www.almondcove.in/assets/images/meta/ac_landscape.jpg" />
	   <link rel="manifest" href="/manifest.json">
	   <meta property="og:site_name" content="Almondcove.in" />
	   <meta name="twitter:card" content="summary_large_image" />
	   <meta name="twitter:site" content="@@jsm33t" />
	   <meta name="twitter:creator" content="@@jsm33t" /> 

		<link rel="icon" type="image/png" href="/assets/app-icons/icon-32x32.png" sizes="32x32">
		<link rel="apple-touch-icon" href="/assets/app-icons/icon-180x180.png">

	  <script src="/assets/js/theme-switcher.js" asp-append-version="true"></script>
	  @* <link rel="stylesheet" href="~/assets/fonts/poppins/poppins.css" asp-append-version="true" rel="stylesheet" /> *@
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400&display=swap" asp-append-version="true" rel="stylesheet" />
	  @* Vendor styles *@
	  @await RenderSectionAsync("Styles", required: false)
		@* icon fonts *@
	  <link rel="stylesheet" href="/assets/icons/around-icons.min.css">

	   <environment include="development">
		<link rel="stylesheet" media="screen" href="/assets/css/theme.css" asp-append-version="true">
	   </environment>
	   <environment include="production">
		<link rel="stylesheet" media="screen" href="/assets/css/theme.min.css" asp-append-version="true">
	   </environment>

	  
	  <link rel="stylesheet" media="screen" href="/lib/aos/dist/aos.min.css">
	  <link href="~/assets/css/almondcove.css" asp-append-version="true" rel="stylesheet" />
	  @await RenderSectionAsync("Css", required: false)
	  <style>
		 .page-loading {
		 position: fixed;
		 top: 0;
		 right: 0;
		 bottom: 0;
		 left: 0;
		 width: 100%;
		 height: 100%;
		 -webkit-transition: all .4s .2s ease-in-out;
		 transition: all .4s .2s ease-in-out;
		 background-color: #fff;
		 opacity: 0;
		 visibility: hidden;
		 z-index: 9999;
		 }
		 [data-bs-theme="dark"] .page-loading {
		 background-color: #121519;
		 }
		 .page-loading.active {
		 opacity: 1;
		 visibility: visible;
		 }
		 .page-loading-inner {
		 position: absolute;
		 top: 50%;
		 left: 0;
		 width: 100%;
		 text-align: center;
		 -webkit-transform: translateY(-50%);
		 transform: translateY(-50%);
		 -webkit-transition: opacity .2s ease-in-out;
		 transition: opacity .2s ease-in-out;
		 opacity: 0;
		 }
		 .page-loading.active>.page-loading-inner {
		 opacity: 1;
		 }
		 .page-loading-inner>span {
		 display: block;
		 font-family: "Poppins", sans-serif;
		 font-size: 1rem;
		 font-weight: normal;
		 color: #6f788b;
		 }
		 [data-bs-theme="dark"] .page-loading-inner>span {
		 color: #fff;
		 opacity: .6;
		 }
		 .page-spinner {
		 display: inline-block;
		 width: 2.75rem;
		 height: 2.75rem;
		 margin-bottom: .75rem;
		 vertical-align: text-bottom;
		 background-color: #d7dde2;
		 border-radius: 50%;
		 opacity: 0;
		 -webkit-animation: spinner .75s linear infinite;
		 animation: spinner .75s linear infinite;
		 }
		 [data-bs-theme="dark"] .page-spinner {
		 background-color: rgba(255, 255, 255, .25);
		 }
		 @@-webkit-keyframes spinner {
		 0% {
		 -webkit-transform: scale(0);
		 transform: scale(0);
		 }
		 50% {
		 opacity: 1;
		 -webkit-transform: none;
		 transform: none;
		 }
		 }
		 @@keyframes spinner {
		 0% {
		 -webkit-transform: scale(0);
		 transform: scale(0);
		 }
		 50% {
		 opacity: 1;
		 -webkit-transform: none;
		 transform: none;
		 }
		 }
	  </style>
	  <style id="customtheme">
	  </style>
	 @* onload scripts *@
	  <script>
		 (function () {
		   window.onload = function () {
			 const preloader = document.querySelector('.page-loading')
			 preloader.classList.remove('active')
			 setTimeout(function () {
			   preloader.remove()
			 }, 1500)
		   }
		 })()
		 
		@* store prev and current link *@
		 if (localStorage.getItem("curr_link") == null) {
		   localStorage.setItem("curr_link", window.location.pathname);
		 }
		 else {
		   localStorage.setItem("prev_link", localStorage.getItem("curr_link"));
		   localStorage.setItem("curr_link", window.location.pathname);
		 }
		 @* PWA worker *@
		 if ('serviceWorker' in navigator) {
		   navigator.serviceWorker.register('/service-worker.js')
			 .then((registration) => {
			   console.log('Service Worker registered with scope:', registration.scope);
			 })
			 .catch((error) => {
			   console.error('Service Worker registration failed:', error);
			 });
		 }
		 
		@* load dark mode status *@
		 let mode = window.localStorage.getItem('mode'),
		   root = document.getElementsByTagName('html')[0];
		 if (mode !== undefined && mode === 'dark') {
		   root.classList.add('dark-mode');
		 } else {
		   root.classList.remove('dark-mode');
		 }
		 
	  </script>
   </head>
   <!-- Body -->
   <body class="@htmlProps.BodyClass">
	  <!-- Page loading spinner -->
	  <div class="page-loading active">
		 <div class="page-loading-inner">
			<div class="page-spinner"></div>
			<span>Loading...</span>
		 </div>
	  </div>
	  <!-- Page wrapper -->
	  @await Html.PartialAsync("Partials/Modals/Default.cshtml")
	  @await Html.PartialAsync("Partials/Panels/Top.cshtml")
	  @await Html.PartialAsync("Partials/Panels/Right.cshtml")
	  <main class="page-wrapper" aos-ddata="fade-in">
		 <header data-bs-theme="@htmlProps.DataBsTheme">
			<div class="@htmlProps.HeaderClass">
			   <div class="container">
				  @await Html.PartialAsync("Partials/NavBars/Default")
			   </div>
			</div>
		 </header>
		 <div aria-live="polite" id="toast-container" aria-atomic="true"
			class="d-flex justify-content-center align-items-center"></div>
		 @RenderBody()
	  </main>
	  <!-- Footer -->
	  @await Html.PartialAsync("Partials/Footers/Default")
	  <!-- Back to top button -->
	  <a class="btn-scroll-top" href="#top" data-scroll aria-label="Scroll back to top">
		 <svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10">
			</circle>
		 </svg>
		 <i class="ai-arrow-up"></i>
	  </a>
	  <!-- Vendor scripts: JS libraries and plugins -->
	  <script src="~/lib/axios/dist/axios.min.js"></script>
	  @await RenderSectionAsync("Scripts", required: false)
	  <script src="~/lib/aos/dist/aos.min.js"></script>

	   <environment include="development">
		   <script src="~/assets/js/theme.js"></script>
	   </environment>
	   <environment include="production">
		   <script src="~/assets/js/theme.min.js"></script>
	   </environment>
	  
	  <script type="module" src="~/assets/js/main.js" asp-append-version="true"></script>
   </body>
</html>